{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    <title>
        {% block title %}سامانه المپیاد های علمی{% endblock %}
    </title>
</head>

<body>
<div class="container">
    <button class="btn btn-info" onclick="location.href='{% url 'home' %}'">خانه</button>
    {% block content %}
    {% endblock %}
</div>
</body>

</html>