{% extends  "base.html" %}

{% block title %}امتحان{% endblock %}
{% block content%}
    {% for course in courses %}
        <div>
            <a href="{% url 'olympiad:course:edit' fname year course.cname %}">
                {{ course.cname }}
            </a>
        </div>
    {% endfor %}
    <a href="{% url 'olympiad:course:add' fname year%}"><button type="button" class="btn btn-success">کلاس جدید</button></a>
    <a href="{% url 'olympiad:home' fname year %}">
        <button class="btn btn-primary" type="button">بازگشت</button>
    </a>
{% endblock %}