{% extends  "base.html" %}

{% block title %}امتحان{% endblock %}
{% block content%}
    <a href="{% url 'olympiad:course:add' fname year%}"><button>کلاس جدید</button></a>
    <table>
    <thead>
        <th>نام درس</th>
        <th>نام استاد</th>
    </thead>
    <tbody>
    {% for course in courses %}
            <tr>
                <td>
                    <a href="{% url 'olympiad:course:edit' fname year course.cname%}">
                        {{ course.cname }}
                    </a>
                </td>
                <td>
                    {{ course.name }}
                </td>
            </tr>
    {% endfor %}
    <tbody>
    <table>
        <a href="{% url 'olympiad:course:add' fname year%}"><button type="button" class="btn btn-success">کلاس جدید</button></a>
    <a href="{% url 'olympiad:home' fname year %}">
        <button class="btn btn-primary" type="button">بازگشت</button>
    </a>
{% endblock %}