{% extends  "base.html" %}
{% load static%}

{% block title %}
نمره دهی سوال
{% endblock %}

{% block content%}
 <form method="post">
     <table class="table table-hover table-striped">
         <tbody>
         <tr>
             <td>صورت سوال</td>
             <td>{{problem.text}}</td>
         </tr>
         <tr>
             <td>نمره</td>
             <td>{{problem.score}} </td>
         </tr>
         </tbody>
     </table>
    {% csrf_token %}
     {{ form.as_p }}
     <button class="btn btn-success" type="submit">ثبت</button>
 </form>
{% endblock %}