{% extends  "base.html" %}
{% load static%}
{% load widget_tweaks %}
{% block static %}
    {{ block.super }}
    <script src="{% static 'olympiad_manager/addm2day.js' %}"></script>
{% endblock %}

{% block title %}آزمون های مرحله اول و دوم{% endblock %}

{% block content%}
    <h1>مرحله اول و دوم </h1>
 <form method="post" class="form-horizontal">
     {% csrf_token %}
        {{ form.m1_eid }}
        {{ form.m2_day_count }}
        {{ form.rname }}
        {{ form.yr }}
     <h3>مرحله اول</h3>
     <div class="form-group">
        <div class="col-sm-1">
            {{ form.m1_date.label_tag }}
        </div>
         {{ form.m1_date|add_class:'form-control'|add_class:'col-sm-3' }}
         <button type="button" onclick="location.href='{% url 'olympiad:problem:list' fname year form.m1_eid.value %}'" class="btn btn-default col-sm-offset-1">مدیریت سوال ها</button>
         <button type="button" onclick="location.href='{% url 'olympiad:problem:results' fname year form.m1_eid.value %}'" class="btn btn-default">مشاهده نتایج</button>
     </div>
     <div id="m2days">
         <h3>مرحله دوم</h3>
     {% for i in form %}
         {% if forloop.counter0 > 4 %}
             {% if forloop.counter|divisibleby:3 %}
                 <div class="row">
                     <label for="id_m2_{% widthratio forloop.counter|add:-7 3 1 %}_date" class="col-sm-1">تاریخ:</label>
                     <input class="col-sm-3 form-control" id="id_m2_{% widthratio forloop.counter|add:-10 3 1 %}_date" name="m2_{% widthratio forloop.counter|add:-7 3 1 %}_date" type="text" value="{{ i.value }}"/>
             {% elif forloop.counter0|divisibleby:3 %}
                     <label for="id_m2_{% widthratio forloop.counter|add:-7 3 1 %}_darsad" class="col-sm-1">درصد تاثیر:</label>
                     <input class="col-sm-3 form-control" id="id_m2_{% widthratio forloop.counter|add:-7 3 1 %}_darsad" name="m2_{% widthratio forloop.counter|add:-7 3 1 %}_darsad" type="number" value="{{ i.value }}"/>
             {% else %}
                     {{ i }}
                     <button type="button" class="btn btn-default col-sm-offset-1" onclick="location.href='{% url 'olympiad:problem:list' fname year i.value %}'">مدیریت سوال ها</button>
                     <button type="button" class="btn btn-default" onclick="location.href='{% url 'olympiad:problem:results' fname year i.value %}'">مشاهده نتایج</button>
                 </div>
                {% endif %}
         {% endif %}
     {% endfor %}
     </div>
    <br>
     <button class="btn btn-warning" id="add_m2_button" type="button">اضافه کردن روز مرحله دوم</button>
     <button class="btn btn-success" type="submit">ثبت</button>
     <button class="btn btn-primary" onclick="location.href='{% url 'olympiad:home' fname year %}'"type="button">بازگشت</button>
 </form>
{% endblock %}