{% extends  "base.html" %}

{% block title %}امتحان{% endblock %}
{% block content%}
    <h1>مدیریت سوالات</h1>
    <table class="table table-hover table-striped">
        <thead>
        <th>شماره</th>
        <th>متن سوال</th>
        <th>نمره</th>
        <th>طراح</th>
        <th>اقدامات</th>
        </thead>
    {% for problem in problems %}
        <tr>
            <td>
            <a href="{% url 'olympiad:problem:edit' fname year eid problem.pnum%}">
                {{ forloop.counter }}
            </a>
            </td>
            <td>{{problem.text}}</td>
            <td>{{problem.score}}</td>
            <td>{{problem.name}}</td>
            <td><button type="button" class="btn btn-default" onclick="location.href='{% url 'olympiad:problem:graders' fname year eid problem.pnum %}'">مدیریت مصححین</button></td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'olympiad:problem:add' fname year eid %}"><button type="button" class="btn btn-success">سوال جدید</button></a>
    <a href="{{ back_url }}"><button type="button" class="btn btn-primary">بازگشت</button></a>
{% endblock %}