{% extends  "base.html" %}

{% block title %}امتحان{% endblock %}
{% block content%}
    <table>
        <thead>
        <th>شماره</th>
        <th>متن سوال</th>
        <th>نمره</th>
        <th>طراح</th>
        </thead>
    {% for problem in problems %}
        <tr>
            <td>
            <a href="{% url 'olympiad:problem:edit' fname year eid problem.pnum%}">
                {{ forloop.counter }}
            </a>
            </td>
            <td>{{problem.text}}</td>
            <td>{{problem.score}}</td>
            <td>{{problem.name}}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'olympiad:problem:add' fname year eid %}"><button>سوال جدید</button></a>
{% endblock %}